install/output.log
home/.config/autostart/copyq.desktop
home/.config/autostart/Flameshot.desktop
home/.config/autostart/AB\ Download\ Manager.desktop
home/.config/autostart/org.kde.kdeconnect.nonplasma-1.desktop
home/.config/autostart/megasync.desktop
home/.config/bat/themes/
home/.config/bat/syntaxes/
home/.config/btop/btop.log
home/.config/fastanime/user_data.json
home/.config/fastanime/watch_history.json
home/.config/kitty/neighboring_window.py
home/.config/kitty/relative_resize.py
home/.config/kitty/split_window.py
home/.config/mpv/scripts/uosc/
home/.config/mpv/scripts/thumbfast.lua
home/.config/mpv/fonts/
home/.config/mpv/script-opts/
home/.config/mpv/subtitles/
home/.config/nvim/lazy-lock.json
home/.config/yazi/package.toml
home/.config/yazi/plugins/
home/.config/yazi/flavors/
home/.config/zathura/catppuccin-mocha
home/.config/zathura/oldworld
