install/output.log
home/.config/bat/themes/
home/.config/bat/syntaxes/
home/.config/btop/btop.log
home/.config/fastanime/user_data.json
home/.config/fastanime/watch_history.json
home/.config/nvim/lazy-lock.json
home/.config/yazi/package.toml
home/.config/yazi/theme.toml
home/.config/yazi/plugins/
home/.config/mpv/scripts/uosc/
home/.config/mpv/scripts/thumbfast.lua
home/.config/mpv/fonts/
home/.config/mpv/script-opts/
home/.config/mpv/subtitles/
home/.config/yazi/theme.toml
home/.config/glow/themes
