BasedOnStyle: Google

# Indentation settings
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
BreakBeforeBraces: Attach
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: false
ColumnLimit: 80

# Function declaration settings
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceBeforeParens: ControlStatements

# Alignments for consecutive declarations and assignments
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Comment formatting
CommentPragmas: '^.*$'
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Specific brace wrapping for function-like structures
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  BeforeElse: true
  BeforeCatch: true
  BeforeWhile: true
