! Font settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

*faceName: JetBrainsMono Nerd Font
*faceSize: 11
*faceStyle: Regular
*useXft: true
*allowBoldFonts: true

! Colors
XTerm*foreground: white
XTerm*background: black
XTerm*cursorColor: grey
*veryBoldColors: 4
*colorBDMode: true

! Scrollback
*saveLines: 16384
*scrollBar: false
*scrollTtyOutput: true
*scrollKey: true

! Clipboard support
*selectToClipboard: true
*VT100.translations: #override \
    Ctrl Shift <KeyPress>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress>V: insert-selection(CLIPBOARD)

! Cursor
*cursorShape: line
*cursorBlink: true

! UTF-8 / Locale
*utf8: 2
*locale: true
*wideChars: true

! Terminal size and borders
*vt100.geometry: 180x40
*vt100.internalBorder: 6
*letterSpacing: 2

! Mouse / title / URLs
*allowMouseOps: true
*allowTitleOps: true
*url-launcher: xdg-open
*matcher.button: 1
*url-select.launcher: xdg-open
